
  body{
    
   background-image: linear-gradient(-20deg, #e9defa8f 0%, #fbfcdb81 100%) , url('../background.jpg');
   height: 100vh;
  }
  
  .padding{
      padding-left: 10px; 
  }
  .decktd {
      text-align:left
  }
  .gears {
      width: 2em;
      height: 2em;
      opacity: 1;
      padding-top: 0.2em;
  }
  
  .review-count {
    color: #fff;
    background-color: #4caf50;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  
  .new-count {
    color: #fff;
    background-color:#3f51b5;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  .learn-count {
    color: #fff;
    background-color:rgb(195, 43, 23);
    padding: 5px 15px;
    border-radius: 10px;
  
  }
  
  .zero-count {
    color: #bbb9b9;
    /* background-color: #9e9e9e; */
    padding: 5px 15px;
    border-radius: 10px;
  
  }
  
  .card.small {
       height: 75px; 
  }
  
  .card .card-content {
      padding: 10px;
      border-radius: 0 0 2px 2px;
  }
  
  .row {
      margin-bottom: 0;
      }

.row .col.s6 {
  width: 46%;
  margin: 2%;

}

.row .col.s12 {
  width: 96%;
  margin: 2%;
}

i.medium{
  font-size: 3rem;
}

.stats{
  font-weight: lighter;
  font-size: 0.9rem;
}