
  body{
   background-size: 100%;
  }

  .collection {
    border: 0px ;
}

  .overlay{

    min-height: 100vh;
    background-size: 100%;
    padding-bottom: 2em;;
  }
  
  .padding{
      padding-left: 10px; 
  }
  .decktd {
      text-align:left
  }
  .gears {
      width: 2em;
      height: 2em;
      opacity: 1;
      padding-top: 0.2em;
      cursor: pointer;
  }
  

.nightMode  .review-count {
    color: #fff;
    background-color: #4caf50;
  }
  
  
  .nightMode .new-count {
    color: #fff;
    background-color:#3f51b5;
  }
  
  .nightMode .learn-count {
    color: #fff;
    background-color:rgb(195, 43, 23);
  
  }
  
  .nightMode  .zero-count {
    color: #bbb9b9;
    /* background-color: #9e9e9e; */
  
  }


  .collapse{
    padding-left: 4px;
    padding-right: 10px;
  }

  .review-count {
    color: #fff;
    background-color: #4caf50;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  
  .new-count {
    color: #fff;
    background-color:#3f51b5;
    padding: 5px 15px;
    border-radius: 10px;
  }
  
  .learn-count {
    color: #fff;
    background-color:rgb(195, 43, 23);
    padding: 5px 15px;
    border-radius: 10px;
  
  }
  
  .zero-count {
    color: #494949;
    /* background-color: #9e9e9e; */
    padding: 5px 15px;
    border-radius: 10px;
  
  }
  
  .card-panel {
      min-height: 75px !important; 
  }
  
  .card .card-content {
      padding: 10px;
      border-radius: 0 0 2px 2px;
  }
  
  .row {
      margin-bottom: 0;
      }

.row .col.s6 {
  width: 46%;
  margin: 2%;

}

.row .col.s12 {
  width: 96%;
  margin: 2%;
}

i.medium{
  font-size: 3rem;
}

.stats{
  font-weight: lighter;
  font-size: 0.9rem;
  text-align: justify;

}

figure{
  z-index: -500;
  margin: 0;
}

.crossfade > figure {
 
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    /* background-size: cover; */
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    background-repeat: repeat-y;
    top: 0px;
    width: 100%;
    z-index: -500;
  }
  

  .crossfade > figure:nth-child(1) {
   background-image: url('../background.jpg');  }
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url('../background5.jpg');  }

.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url('../background2.jpg'); }

 
.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url('../background3.jpg');  }

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url('../background4.jpg'); }




@keyframes
imageAnimation {  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}

 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}

}

.rh-container{
  width: 98%;
}