.container{
width:95%;
max-width:95%;
padding-top: 3%;
}

.row{
    margin:0
}
.col{
    padding:0 ;
}
.circle{
    width: 42px;
    height: 42px;   
    border-radius: 50%;
}


.half{
    max-width: 49%;
}

.left{
    margin-right: 1%;
}

.right{
    margin-left: 1%;
}
